body
{
	margin:0;
	padding: 0;

}
.body_sign_in
{
	margin:0;
	padding: 0;
    background-image: url("images/lovely_2.png");
    background-size: 1538px 800px;
    background-repeat: no-repeat;
}
.header_sign_in
{
    background-color: rgba(5,100,100,0.4);
    padding: 5px;
    height: 100px;
    border-bottom: ridge;

}
.sign_in_div
{
	width: 400px;
	height:100px;
	margin-top: 150px;
	margin-left: 550px; 

}
.email-1
{
	width: 300px;
}
.password-1
{
	width: 300px;
}
.email-2
{
	color: orange;
	font-size: 20px;
}
.password-2
{
	color: orange;
	font-size: 20px;
}
a:hover
{
	color: hotpink;
}
.donnot_have_an_account
{
	font-size: 25px;
	color: #53e68a;
}
h1
{
	color: darkorange;
}
.h1-header
{
	color: yellow;
}
