body
{
	margin:0;
	padding: 0;

}
.body-up
{
	/*margin:0;
	padding: 0;
    background-image: url("images/lovely_2.png");
    background-size: 1518px 800px;
    width: 1518px;
    height: 800px;
    background-repeat: no-repeat;*/

    margin:0;
	padding: 0;
    background-image: url("images/lovely_2.png");
    background-size: 1538px 800px;
    background-repeat: no-repeat;
}
.body-middle
{
	margin:0;
	padding: 0;
}
/*creating the layout*/
.header 
{
    background-color: rgba(60,70,80,0.4);
    padding: 5px;
    height: 100px;

}
/*navigation bar*/
.nav
{
	background-color: rgba(5,100,100,0.4);
    padding: 20px;
    border-bottom-style: ridge;
}
.left-section
{
	float: left;
	padding:10px;
	width: 25%;
	height: 790px;
}
.center
{
	/*background-color: lightblue;*/
	float: left;
	padding:10px;
	width: 46%;
	height: 900px;
	height: 790px;
}
.right-section
{
	/*background-color: lightpink;*/
	float: left;
	padding:10px;
	width:25%;
	height: 790px;
}
.row:after
{
    content: "";
    display: table;
    clear: both;
}

/*...................................*/
.right-section.middle
{
	/*background-color: #333;*//*remove these colours*/
}
.left-section.middle
{
	/*background-color: #333;*/
}
.footer
{
	/*background-color: #c1a0bc;*/
	background-color: rgba(5,100,100,0.4);
	padding: 5px;
	font-size: 20px;
	
}
/*navigation bar lists of bottoms*/
.ul-1
{
	list-style-type: none;/*remove the bullets*/
	margin: 0;
	padding:0;
	margin-left: 500px;

}
li
{
	font-size: 25px;
	display: inline;
	
}
a:hover
{
	color: hotpink;
}
.home
{
	color: yellow;
	text-decoration: none;
	margin-right: 10px;
}
.aboutus
{
	color: yellow;
	text-decoration: none;
	margin-right: 10px;
}
.contactus
{
	color: yellow;
	text-decoration: none;
	margin-right: 10px;
}
.mycart
{
	color: yellow;
	text-decoration: none;
	margin-right: 10px;
}
.shop
{
	color: yellow;
	text-decoration: none;
	margin-right: 10px;
}

.div-header
{
	width: 500px;
	height: 30px;
	margin-left: 1000px;
}
.shopping
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.email-1
{
	border-radius: 5px;
}
.email-2
{
	color: yellow;
}
.password-1
{
	border-radius: 5px;
}
.password-2
{
	color: yellow;
}
.email-i
{
	border-radius: 5px;
	margin-bottom: 10px;
}
.password-i
{
	border-radius: 5px;
	margin-bottom: 10px;
}
.dob-i
{
	border-radius: 5px;
	margin-bottom: 10px;
}
.mobile-i
{
	border-radius: 5px;
	margin-bottom: 10px;
}
.address-i
{
	border-radius: 5px;
	margin-bottom: 10px;
}
.h1-header
{
	color: yellow;
	width: 250px;
	height: 40px;
	display: inline;
}
.h5-footer
{
	margin-left: 650px;
}
.backtotop
{
	color:yellow;
	text-decoration: none;
}
.p-center
{
	font-family: "Comic Sans MS";
	font-size: 40px;
	color: black;
	text-shadow: 3px 2px rgba(5,100,100,0.4);
}
/*.p-center-span
{
	text-shadow: 3px 2px rgba(5,100,100,0.4);
}*/
.search-field
{
	border-radius: 5px;
	width: 400px;
	height: 30px;
	margin-left: 90px;
}
.search-field-label
{
	margin-left: 90px;
	color: orange;
	font-size: 20px;
}
.donnot_have_an_account
{
	font-size: 25px;
	color: #53e68a;
}
/*.....................................sign up body............................................*/
.body_sign_up
{
	background-image: url("images/lovely_2.png");
}
.social-media
{
	margin-top: 40px;
}