body
{
	margin:0;
	padding: 0;

}
.body_sign_up
{
	margin:0;
	padding: 0;
    background-image: url("images/lovely_2.png");
    background-size: 1538px 800px;
    background-repeat: no-repeat;
}
.header_sign_up
{
    background-color: rgba(5,100,100,0.4);
    padding: 5px;
    height: 100px;
    border-bottom: ridge;
}

.div2
{
	margin:0;
	padding: 0;
	width: 400px;
	height: 620px;
	margin-left: 600px;
	margin-top: 0;
}
.register
{
	margin-left: 30px;
}

a:hover
{
	color: hotpink;
}

.name-i
{
	border-radius: 5px;
	margin-bottom: 10px;
	width: 200px;
}
.email-i
{
	border-radius: 5px;
	margin-bottom: 10px;
	width: 200px;
}
.password-i
{
	border-radius: 5px;
	margin-bottom: 10px;
	width: 200px;
}
.dob-i
{
	border-radius: 5px;
	margin-bottom: 10px;
	width: 200px;
}
.mobile-i
{
	border-radius: 5px;
	margin-bottom: 10px;
	width: 200px;
}
.address-i
{
	border-radius: 5px;
	margin-bottom: 10px;
	width: 350px;
	height: 100px;
}
.name-s
{
	color: orange;
	font-size: 20px;
}
.email-s
{
	color: orange;
	font-size: 20px;
}
.password-s
{
	color: orange;
	font-size: 20px;
}
.dob-s
{
	color: orange;
	font-size: 20px;
}
.mobile-s
{
	color: orange;
	font-size: 20px;
}
.address-s
{
	color: orange;
	font-size: 20px;
}
.h1-s
{
	color:orange;
}
.header_sign_in
{
	background-color: rgba(5,100,100,0.4);
	width: 1536px;
	height: 100px;
}
.h1-header
{
	color: yellow;
}
/*............................validation......................................*/
.error
{
	color: red;
}